#atomic .Bd-1 {
  border: 1px solid #ccc;
}
#atomic .Bdt-1 {
  border-top: 1px solid #ccc;
}
#atomic .Bdb-1 {
  border-bottom: 1px solid #ccc;
}
#atomic .Bdx-1 {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#atomic .Bdrs-100 {
  border-radius: 100px;
}
#atomic .Bgc-logo {
  background-color: #0280AE;
}
#atomic .Bxz-bb {
  box-sizing: border-box;
}
#atomic .C-fff {
  color: #fff !important;
}
#atomic .D-n {
  display: none;
}
#atomic .D-b {
  display: block;
}
#atomic .D-ib {
  display: inline-block;
}
#atomic .D-tb {
  display: table;
}
#atomic .D-tbc {
  display: table-cell;
}
#atomic .Fw-b {
  font-weight: bold;
}
#atomic .Fz-14 {
  font-size: 14px;
}
#atomic .Fz-20 {
  font-size: 20px;
}
#atomic .H-100\% {
  height: 100%;
}
#atomic .Lh-12 {
  line-height: 1.2;
}
#atomic .M-0 {
  margin: 0;
}
#atomic .Mt-24 {
  margin-top: 24px;
}
#atomic .Mend-10 {
  margin-right: 10px;
}
#atomic .Mend-20 {
  margin-right: 20px;
}
#atomic .Mb-10 {
  margin-bottom: 10px;
}
#atomic .Mb-50 {
  margin-bottom: 50px;
}
#atomic .Mstart-10 {
  margin-left: 10px;
}
#atomic .Mx-a {
  margin-left: auto;
  margin-right: auto;
}
#atomic .My-0 {
  margin-top: 0;
  margin-bottom: 0;
}
#atomic .My-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#atomic .Mih-100\% {
  min-height: 100%;
}
#atomic .T-0 {
  top: 0;
}
#atomic .End-0 {
  right: 0;
}
#atomic .End-a {
  right: auto;
}
#atomic .Start-0 {
  left: 0;
}
#atomic .Ov-h, #atomic .Bfc {
  overflow: hidden;
}
#atomic .P-0 {
  padding: 0;
}
#atomic .P-10 {
  padding: 10px;
}
#atomic .P-20 {
  padding: 20px;
}
#atomic .Pt-20 {
  padding-top: 20px;
}
#atomic .Pend-50 {
  padding-right: 50px;
}
#atomic .Pend-10, #atomic .Px-10 {
  padding-right: 10px;
}
#atomic .Pb-5, #atomic .Py-5 {
  padding-bottom: 5px;
}
#atomic .Pb-40 {
  padding-bottom: 40px;
}
#atomic .Pstart-10, #atomic .Px-10 {
  padding-left: 10px;
}
#atomic .Px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
#atomic .Py-5 {
  padding-top: 5px;
}
#atomic .Pos-a {
  position: absolute;
}
#atomic .Pos-f {
  position: fixed;
}
#atomic .Pos-r {
  position: relative;
}
#atomic .Tbl-f {
  table-layout: fixed;
}
#atomic .Ta-c {
  text-align: center;
}
#atomic .Ta-start {
  text-align: left;
}
#atomic .Va-m {
  vertical-align: middle;
}
#atomic .Va-t {
  vertical-align: top;
}
#atomic .W-a {
  width: auto;
}
#atomic .W-0 {
  width: 0;
}
#atomic .W-50\% {
  width: 50%;
}
#atomic .W-80\% {
  width: 80%;
}
#atomic .W-100\% {
  width: 100%;
}
#atomic .W-150px {
  width: 150px;
}
#atomic .Z-0 {
  z-index: 0;
}
#atomic .Z-3 {
  z-index: 3;
}
#atomic .Z-5 {
  z-index: 5;
}
#atomic .Z-7 {
  z-index: 7;
}
#atomic .Bfc {
  zoom: 1;
}
@media(min-width:700px) {
  #atomic .D-n--sm {
    display: none;
  }
  #atomic .D-b--sm {
    display: block;
  }
  #atomic .Mx-a--sm {
    margin-left: auto;
    margin-right: auto;
  }
  #atomic .End-a--sm {
    right: auto;
  }
  #atomic .Pend-10--sm {
    padding-right: 10px;
  }
  #atomic .Py-5--sm {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #atomic .Pos-r--sm {
    position: relative;
  }
  #atomic .W-80\%--sm {
    width: 80%;
  }
  #atomic .W-150px--sm {
    width: 150px;
  }
}
